<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Another.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MegaJumpExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NinjaExampleMacOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>91C1EF9E1C77D1C800F88A95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91C1EFCE1C77E32C00F88A95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91C1EFE81C77E3C300F88A95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91F9CC1A1C75035000B7474A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
